body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('mainbody.jpg') no-repeat center center fixed;
    background-size: cover;
}

#welcome-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px 20px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

#content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#content p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #666;
}

#button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 30px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #007BFF;
    border-radius: 30px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: white;
    color: #007BFF;
}
